button {
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		border: 2px solid grey;
		color: white;
		background-color: black;
		cursor: pointer;
	}
	
	button:hover {
		background-color: white;
		color: black;
	}